html{
    font-family: 'Bebas Neue', sans-serif;
}

.container{
    background-color: black;
    color: white;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 120px;
    width: 100%;
}

.menu-time, .menu-score, .menu-lives{
    font-size: 2em;
}

.menu-lives img{
    height: 50px;
    display: inline;
    vertical-align: middle;
}

.panel{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 0px;
    width: 100%;
}

.celula{
    background-color: rgb(112, 112, 112);
    border: 2px solid #000000;

    width: 150px;
    height: 150px;
}

.inimigo{
    background-image: url("../images/venon.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
}